div{
    box-shadow: 1px 1px 2px;
}
body{
    background-color: #F1F1F1;
}
nav{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular" , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    padding: 0!important;
    height: 60px;
    border-bottom: none;
}
nav>div{
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 2px;
}

#topDiv{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 899px;
    grid-template-areas: "a a b";
    grid-gap: 10px;
}
#topLeft{
    width: auto;
    grid-area: a;
}
#topRight{
    width: auto;
    grid-area: b;
}
#topLeft>div:nth-child(1){
    margin: auto;
    display: flex;
    width: 95%;
    padding: 10px;
    height: 262px;
}
#topLeft > div:nth-child(1) > div:nth-child(2) > h3{
    width: 100%;
    margin: 28px 0px 20px;
    justify-content: center;
}
#bookingDetails{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-around;
    
}
#bookingDetails>div{
    width: 20%;
    height:90%;
}
#timeDuration{
    height: 18px;
    width: 100%;
    margin: auto;
    margin-top: 24px;
}
#topLeft > div:nth-child(1) > div:nth-child(2) > h3>span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
}
#topLeft>div:nth-child(1)>div:nth-child(1){
    width: 32%;
    margin: auto;
    height: 95%;
}
#topLeft>div:nth-child(1)>div:nth-child(2){
    width: 64%;
    margin: auto;
    height: 95%;
}
#topLeft>div:nth-child(2){
    margin: auto;
    margin-top: 10px;
    width: 95%;
    padding: 10px;
    height: 540px;
}
#topLeft>div:nth-child(2)>h3{
    width: 100%;
    margin: 28px 0px 20px;
    justify-content: center;
}
#topLeft>div:nth-child(2)>h3>span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}
table{
    width: 100%;

}
