body > div{
    font-weight: 400;
    width: 600px;
    margin: auto;
    line-height: 1;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 91vh!important;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: none;
    border-bottom: none;
    max-height: 524px;
}
body > div > div.sign-up-title{
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
body > div > div.sign-up-title > b{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    box-sizing: border-box;
    font-weight: bolder;
}
body > div > div.sign-up-title > img{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
    opacity: 1;
    width: 9%;
    display: table-caption;
    position: absolute;
    right: -8px;
    top: -8px;
}
body > div > div:nth-child(3){
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    margin-top: 10px!important;
    text-align: center!important;
}
body > div > div:nth-child(3) > div{
    /* height: 50px; */
    margin-top: 50px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.6);
    text-align: center!important;
    box-sizing: border-box;
}
body > div > div:nth-child(3) > div > label{
    font-weight: 400;
    font-size: 30px;
    line-height: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center!important;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    touch-action: manipulation;
    display: inline-block;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    z-index: 1;
    transform: scale(0.75) translate(0px, -28px);
    transform-origin: left top;
    pointer-events: none;
    user-select: none;
    color: rgba(0, 0, 0, 0.3);
}
body > div > div:nth-child(3) > div > div:nth-child(2){
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center!important;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    cursor: auto;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    color: rgba(0, 0, 0, 0.3);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    bottom: 12px;
}
#undefined-Pleaseenteryouremail-EmailID-58912,#pass1,#pass2{
    margin: 0;
    
    line-height: 50px;
    padding-bottom: 30px;
    /* overflow: visible;
    touch-action: manipulation; */
    appearance: textfield;
    padding: 0px;
    font-size: 60px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font: inherit;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 50px;
    box-sizing: border-box;
    margin-top: 0px;
}
body > div > div:nth-child(3) > div > div:nth-child(4){
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.6);
    text-align: center!important;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    cursor: auto;
    box-sizing: border-box;
}
body > div > div.text-center.mr-t-12{    font-weight: 400;
    line-height: 1;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
body > div > div.text-center.mr-t-12 > button{
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    touch-action: manipulation;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    outline: none!important;
    border-radius: 4px;
    background-color: #0ebaba;
    color: #fff;
    box-shadow: none!important;
    min-width: 94px;
    min-height: 36px;
    border: none;
    margin: 16px 16px 4px;
    height: 35px;
    width: 120px;
    display: block;
    margin: auto;
}













*{
    
    -webkit-text-size-adjust: 100%;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular" , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
}