
div {
    display: block;
}
body > div > form > div.title > img{
    color: rgba(0, 0, 0, 0.6);
    width: 9%;
    position: absolute;
    right: -8px;
    top: -8px;
}
body > div{
    padding-top: 100px;
    width: 400px;
    font-weight: 400;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    min-height: 91vh!important;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 24px;
    max-height: 700px;
}
body > div > form{
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
body > div > form > div.title{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    text-align: center;
}
body > div > form > div.title > b{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    box-sizing: border-box;
    font-weight: bolder;
}
body > div > form > div:nth-child(2){
     position: relative; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 72px;
    display: inline-block;
}
body > div > form > div:nth-child(2) > label{
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin-bottom: .5rem;
    position: absolute;
    line-height: 22px;
    top: 38px;
    color: rgba(0, 0, 0, 0.3);
}
#email{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font: inherit;
    appearance: textfield;
    padding: 0px; 
    position: relative; 
    width: 100%; border: none; 
    font: inherit; 
    opacity: 1; 
    height: 100%; 
    margin-top: 14px;
}
*{
    align-items: center;
    text-align: center;
    margin: auto;
}
div{
    display: block;
    margin: auto;
}
body > div > form > div.text-center > button{
    display: block;
    font-size: inherit;
    border-radius: 4px;
    background-color: #0ebaba;
    color: #fff;
    border: none;
    height: 35px;
    width: 120px;
    
}
body > div > div > a{
    font-weight: 400;
    color: #0ebaba!important;
    padding-left: 5%;
    font-size: 15px;
    text-decoration: none;
}

body > div > form > div:nth-child(3) > label{
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: .5rem;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.3);
}